@font-face {
  font-family: "circular_stdbold";
  src: url("circularstd-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "circular_stdlight";
  src: url("circularstd-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "circular_stdlight", sans-serif;
  margin-bottom: 40px;
}

/* ---------------NAVIGATION---------------- */
.navigation {
  padding-left: 5rem;
  padding-right: 5rem;
  border-bottom: solid rgba(0, 0, 0, 0.212) 0.5px;
}
.navigation .parent {
  height: 80px;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.navigation .div1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  grid-area: 1/1/2/2;
}
.navigation .div1 a {
  text-decoration: none;
}
.navigation .div1 #title {
  margin-left: 0.8rem;
  font-size: 24px;
  font-family: "circular_stdbold", sans-serif;
  font-weight: bold;
  color: #61016B;
}
.navigation .div2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  grid-area: 1/2/2/3;
}
.navigation .div2 input {
  padding-left: 1rem;
  width: 320px;
  height: 40px;
  border-radius: 20px;
  border: solid rgba(0, 0, 0, 0.212) 0.5px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}
.navigation .div2 input:focus {
  outline: none;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.navigation .div2 .circle {
  cursor: pointer;
  margin-left: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #61016B;
}
.navigation .div3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  grid-area: 1/3/2/4;
}
.navigation .div3 .mini_menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90px;
  height: 40px;
  border-radius: 25px;
  border: solid rgba(0, 0, 0, 0.212) 0.5px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  cursor: pointer;
}
.navigation .div3 .dropdown-content {
  display: none;
  position: absolute;
  right: 80px;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
  cursor: pointer;
}
.navigation .div3 .dropdown-content p:hover {
  color: #61016B;
}

/* ---------------RESPONSIVE NAVIGATION--------------- */
@media (max-width: 900px) {
  .navigation {
    margin-top: 10px;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .navigation .parent {
    height: 150px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  .navigation .div1 {
    padding-left: 1rem;
    grid-area: 1/1/2/2;
    justify-content: flex-start;
  }
  .navigation .div2 {
    grid-area: 2/1/3/2;
    justify-content: center;
  }
  .navigation .div2 input {
    width: 70%;
  }
  .navigation .div3 {
    padding-right: 1rem;
    grid-area: 1/1/2/2;
    justify-content: flex-end;
  }
  .navigation .div3 img {
    width: 20px;
    height: 25px;
  }
  .navigation .div3 .mini_menu {
    width: 60px;
  }
  .navigation .div3 .dropdown .dropdown-content {
    width: 50px;
    right: 35px;
  }
}
@media (max-width: 900px) {
  .navigation .div1 #title {
    font-size: 1rem;
  }
}
/* ---------------INDEX PAGE---------------- */
/* --------------- CARD ---------------- */
.containerCard {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 3em;
}
.containerCard .Card {
  margin-bottom: 2rem;
  cursor: pointer;
  width: 300px;
  height: 460px;
}
.containerCard .Card a {
  text-decoration: none;
}
.containerCard .Card .imgCard {
  width: 300px;
  height: 300px;
}
.containerCard .Card .imgCard img {
  border-radius: 20px;
}
.containerCard .Card .headerCard {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-top: 1rem;
  display: flex;
  font-family: "circular_stdlight", sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #61016B;
}
.containerCard .Card .bodyCard {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.containerCard .Card .bodyCard p {
  color: #000000;
}
.containerCard .Card .footerCard {
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.containerCard .Card .footerCard a {
  display: flex;
  align-items: center;
  color: #000000;
}

/* --------------- LOCATION PAGE ---------------- */
.location {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 962px;
}
.location h1 {
  font-family: "circular_stdbold", sans-serif;
  font-size: 40px;
  color: #61016B;
}
.location .adress {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
}
.location .adress svg {
  display: block;
  margin-bottom: 0.1rem;
  margin-right: 0.2rem;
}
.location .adress img {
  margin-left: 1rem;
  margin-right: 0.2rem;
}
.location .parent {
  margin-top: 0.5rem;
  display: grid;
  grid-template-columns: 1.3fr 1fr;
  grid-template-rows: 400px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.location .parent img {
  width: 520px;
  height: 400px;
  border-radius: 20px;
}
.location .div1 {
  grid-area: 1/1/2/2;
}
.location .div2 {
  grid-area: 1/2/2/3;
}
.location .date {
  margin-top: 0.3rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.location .date .cat1 {
  grid-area: 1/1/2/2;
}
.location .date .cat2 {
  grid-area: 1/2/2/3;
}
.location .reservation {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 240px;
}
.location .reservation p {
  font-family: "circular_stdbold", sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #000000;
}
.location .reservation button {
  width: 130px;
  height: 40px;
  color: white;
  background: linear-gradient(to right, rgb(173, 83, 137), rgb(60, 16, 83));
  border: none;
  margin-bottom: 1rem;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 1rem;
}
.location #produit {
  color: #61016B;
}
.location .images {
  margin-top: 0.5rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
.location .containerComment {
  margin-top: 30px;
  border-top: solid rgba(0, 0, 0, 0.212) 0.5px;
}
.location .containerComment h2 {
  margin-top: 30px;
}
.location .containerComment .score {
  font-family: "circular_stdbold";
  color: #61016B;
  font-weight: bold;
  font-size: 24px;
}

@media (max-width: 1025px) {
  .location {
    width: 762px;
  }
  .location .parent img {
    width: 400px;
    height: 300px;
  }
  .location .reservation {
    height: 110px;
  }
}
@media (max-width: 800px) {
  .location {
    width: 80%;
  }
  .location h1 {
    margin-left: 1rem;
  }
  .location .adress {
    margin-left: 1rem;
  }
  .location .adress p {
    font-size: 0.7rem;
  }
  .location .parent {
    margin-left: 1rem;
    margin-right: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 0fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  .location .div1 {
    display: flex;
    grid-area: 1/1/2/2;
  }
  .location .div2 {
    margin-top: 0.5rem;
    grid-area: 2/1/3/2;
  }
  .location .reservation {
    height: 70px;
    justify-content: flex-start;
  }
}
@media (max-width: 500px) {
  .location h1 {
    margin-left: 0rem;
  }
  .location .adress {
    margin-left: 0rem;
  }
  .location .parent {
    margin-left: 0rem;
    margin-right: 0rem;
  }
  .location .parent .date {
    gap: 2rem;
  }
  .location .parent .date p {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }
  .location .parent img {
    width: 100%;
    height: auto;
  }
  .location .div1 {
    justify-content: flex-start;
  }
  .location .images {
    justify-content: center;
  }
}/*# sourceMappingURL=global.css.map */